<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Recipe Wizard</title>

    <link rel="stylesheet" href="../static/bulma.min.css"/>
    <link rel="stylesheet" href="../static/bulma-pageloader.min.css"/>
    <script src="../static/jquery-3.3.1.min.js"></script>

    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body class="Site">
<section class="hero is-primary is-large Site-header">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Recipe Wizard</h1>
            <h2 class="subtitle">Find recipe ideas without shopping</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <p class="subtitle">
            Scan a receipt to see what you can cook with food you just bought
        </p>
        <form action="/image" method="POST" enctype="multipart/form-data">
            <p>
                <a class="button is-primary is-fullwidth">
                    <label for="file-upload" class="custom-file-upload"
                    >Scan receipt</label
                    >
                </a>
            </p>
            <input
                    hidden
                    name="file-upload"
                    id="file-upload"
                    type="file"
                    accept="image/*"
                    capture="camera"
            />
        </form>
        <br/>
        <a href="/questions" class="button is-primary is-fullwidth"
        >Go to questions</a
        >
    </div>
</section>

<div id="bulma-pageloader" class="pageloader">
    <span class="title">Loading...</span>
</div>

<script>
  $("form input").change(function () {
    $("#bulma-pageloader").addClass("is-active");
    $(this)
      .closest("form")
      .submit();
  });
</script>
</body>
</html>
