<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Recipe</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <script
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <strong>Recipe Wizard</strong>
      </a>

      <!-- <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      > -->
        <span aria-hidden="true"></span> <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
  <body>

    <div>
        <img class="custom-img" src="https://slevomat.sgcdn.cz/images/t/728x364c/80/83/8083126-5e948f.jpg"/>
        <div class="recipe-name">
            <h1 class="title-left title" name="question">Kebab do ruky</h1>
        </div>
    </div>

    <section class="section">
      <div class="container">
        <br>
        <h4 class="subtitle is-4">Ingredients</h4>

        <div class="columns is-mobile">
            <div class="column is-9 is-offset-1">
                <ul>
                    <li>Chlieb pita</li>
                    <li>Pofiderne maso</li>
                    <li>Ruka</li>
                </ul>
            </div>
        </div>  
        
      </div>
        <hr>
        <h4 class="subtitle is-4">Steps</h4>
        <div class="columns is-mobile">
              <div class="column is-9 is-offset-1">
                  <ol>
                      <li>Take pita</li>
                      <li>stick meat in</li>
                      <li>eat</li>
                  </ol>
              </div>
          </div>
    </section>


    <script>
      $(document).ready(() => {
        $.ajax({
          url : `http://${window.location.host}/detail`,
          data: {
            id: window.location.pathname.slice(8),
          },
          type : "GET",
          async: false,
          success : function(res) {
           console.log(res)
          }
        });
      });
    </script>

  </body>
</html>
